.feature__hidden-header,
.examples__hidden-header {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.feature__list {
    display: flex;
    justify-content: space-between;
}

.list.feature__list .feature__item+.feature__item {
    margin-left: 30px;
}

.feature__image {
    width: 270px;
    height: 120px;
    background-color: #f5f4fa;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.feature__header {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;

    margin-bottom: 10px;
}

.feature__text {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}