.header-case {
    display: flex;
    align-items: center;
    border-bottom-width: 1px;
    border-bottom-color: #ececec;
    border-bottom-style: solid;
}

.header-case__nav {
    margin-left: 93px;
}