.footer-social__header,
.footer-subscribe__header {
    color: var(--wite-color);
    margin-bottom: 20px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-align: left;
}

.footer-social__link {
    display: flex;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    fill: var(--wite-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        fill: var(--wite-color);
        background-color: var(--accent-color);
}
}

.footer-social__list
 {
    display: flex;
    justify-content: center;

    .footer-social__item + .footer-social__item {
        margin-left: 10px;
}

}
