.team {
    background-color: #f5f4fa;
}

.team__item {
    background-color: var(--wite-color);
    box-shadow: 0px 4px 4px 0px #00000040;
}

.team__list {
    display: flex;
    justify-content: space-around;
}

.team.section-header {
    margin-bottom: 50px;
}

.team__card {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

.team__name {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}

.team__text {
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;

}

.team-text__social {
    margin-bottom: 15px;
}